.board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.board {
    background-image: url('../assets/img/board.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    position: relative;
    margin-right: 30px
}

.img-auto {
    position: absolute;
    top: 85%;
    right: inherit;
    left: 85%;
    z-index: 1;
}
