body {
  background-image: url('../assets/img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.carta-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  justify-items: center; /* Centrar las cartas horizontalmente */
  margin: 0 auto; /* Centrar todo el contenedor en la página */
  max-width: 1280px; /* Asegurar que el contenedor no sea más ancho que 1280px */
  padding: 2rem;
}

.carta {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  cursor: pointer;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alineación vertical */
}

.carta:hover {
  transform: translateY(-5px);
}

.carta-image {
  margin-bottom: 1rem;
}

.carta-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: white;
}

.carta-description {
  margin-bottom: 1rem;
  color: white;
}

.carta button {
  background-color: #ff4a4a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  margin-top: auto;
}

.carta button:hover {
  background-color: #e63f3f;
}

.volver-container {
  margin-top: 2rem;
}

.volver-container button {
  background-color: #ff4a4a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.volver-container button:hover {
  background-color: #e63f3f;
}
  
  